.login-cmp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.login-cmp form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
}